<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Data</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <link rel="stylesheet" href="../static/css/office.css">
</head>
<body class="personalBody">

<div class="personalBox">
    <div class="boxSmall">
        <span class="personalText">Особисті дані</span>
        <input type="text" placeholder="Прізвище ім`я" class="personalInput">
        <div class="userImg">
            <i class="uil uil-user"></i>
            <label for="uploadImg" class="personalLabel">Загрузити аватар:</label>
        </div>

        <input type="file" class="file" id="uploadImg">
    </div>
    <div class="boxSmall">
        <span>Контакти</span>
        <input type="email" placeholder="Емейл" class="personalInput">
        <input type="text" placeholder="Телефон" class="personalInput">
    </div>
    <div class="boxSmall">
        <span>Соціальні мережі</span>
        <div class="socialBox">
            <div class="socialImg"><img src="imgs/apple.png" alt=""></div>
            <button class="socialWrap">Прив`язати Apple</button>
        </div>
        <div class="socialBox">
            <div class="socialImg"><img src="imgs/facebook%20(1).png" alt=""></div>
            <button class="socialWrap">Facebook прив`язаний</button>
            <div class="socialImg"><img src="imgs/done.png" alt=""></div>
        </div>
    </div>

    <a href="office.html" class="cancel">Cancel</a>

</div>


</body>
</html>